%header.bluenav.big-padding
	.col-md-10.no-float.center-block
		.col-md-1.no-padding.inline-block
			=image_tag "logo.png",width:"100"
		.col-md-9.no-padding.inline-block.center-text
			%h1.white-text Solicitud de Entrada y Trámite
		.col-md-2.no-padding.inline-block.white-text
			=link_to "Iniciar Sesión", new_user_session_path