<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag "logo.png", width:"75" %>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
           
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
        
      </ul>
    </div>
  </div>
</div>